body {
  background-color: lightblue;
}

div {
 background:"https://i.guim.co.uk/img/media/14f9be62449a6c4f6ce660e8fe11674d0dc5dd16/0_127_5189_3113/master/5189.jpg?width=1200&height=900&quality=85&auto=format&fit=crop&s=7d345128f7d211a13c8f2cd12607a14a"; 
}

p {
  background-color: orange;
}

h1 {
  color: navy;
  margin-left: 20px;
}
